extends layout

block content
  div(class="container")
    div(class="container")
      nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
        a(class="navbar-brand" href="#") QuoteMachine
      div(class="jumbotron text-center")
        h1(class="display-4") Quote machine :)
        p(class="info")
          |This is a hub for friends
          |Share a any quote here
        hr(class="my-4")
        div(class="container text-center")
          a(class="btn btn-primary btn-lg" href="/newquote" role="button") Share Your Quote  
      div(class="container")
        each val in data
          div(class="alert alert-primary text-center" role="alert")
            p(class="alert-heading") Shared by : #{ val.name.toUpperCase() }
            p #{ val.quote } 
            - var src = val.img       
            img(src=src, class="rounded" alt="quotepic" style="max-width:20%")
            hr
            p(class="mb-0")
              em submitted on - #{ val.createdDate }
            - var id = val._id
            a(href="/edit/"+id class="btn btn-lg btn-danger") Edit 