extends layout

block content
  div(class="container-fluid")
    div(class="container")
      nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
        a(class="navbar-brand" href="#") QuoteMachine
      div(class="jumbotron text-center")
        h1(class="display-4") Quote House :)
        h4(class="info")
          |House of quotes
        hr(class="my-4")
        div(class="container text-center")
          a(class="btn btn-primary btn-lg" href="/newquote" role="button") Share Your Quote  
      div(class="container")
          div.row 
            each val in data
              div(class="col-12 text-center  mb-1")
                q.mb-0.pb-2  #{ val.quote }
                hr
                - var src = val.img
                img(src=src style="max-width:40%; height:140px")
                footer.blockquote-footer
                  cite(title="Source Title") Submitted By :#{ val.name } On - #{ val.createdDate.toISOString().slice(0,10) }    
                - var id = val._id
                a(href="/edit/"+id class="btn btn-sm btn-danger") Edit 
      